[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/Pitriss/classic_technic.git
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/Jeija/minetest-mod-digilines.git
[submodule "mods/moretrees"]
	path = mods/moretrees
	url = https://github.com/VanessaE/moretrees.git
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/VanessaE/pipeworks.git
[submodule "mods/plantlife"]
	path = mods/plantlife
	url = https://github.com/VanessaE/plantlife.git
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/Calinou/moreblocks.git
[submodule "mods/wireless"]
	path = mods/wireless
	url = https://github.com/lordcirth/minetest-wireless.git
[submodule "mods/homedecor"]
	path = mods/homedecor
	url = https://github.com/VanessaE/homedecor.git
[submodule "mods/gloopblocks"]
	path = mods/gloopblocks
	url = https://github.com/VanessaE/gloopblocks.git
