[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/Pitriss/classic_technic.git
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/Jeija/minetest-mod-digilines.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/Jeija/minetest-mod-mesecons.git
[submodule "mods/moretrees"]
	path = mods/moretrees
	url = https://github.com/VanessaE/moretrees.git
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/VanessaE/pipeworks.git
[submodule "mods/plantlife"]
	path = mods/plantlife
	url = https://github.com/VanessaE/plantlife.git
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/Calinou/moreblocks.git
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/Calinou/moreores.git
[submodule "mods/forth_computer"]
	path = mods/forth_computer
	url = https://github.com/Novatux/forth_computer.git
[submodule "mods/wireless"]
	path = mods/wireless
	url = https://github.com/lordcirth/minetest-wireless.git
[submodule "mods/farming_plus"]
	path = mods/farming_plus
	url = https://github.com/PilzAdam/farming_plus.git
[submodule "mods/stairsplus"]
	path = mods/stairsplus
	url = https://github.com/CasimirKaPazi/stairsplus.git
[submodule "mods/homedecor"]
	path = mods/homedecor
	url = https://github.com/VanessaE/homedecor.git
[submodule "mods/trash_can"]
	path = mods/trash_can
	url = https://github.com/4Evergreen4/trash_can.git
[submodule "mods/computer"]
	path = mods/computer
	url = https://github.com/kaeza/minetest-computer.git
[submodule "mods/connected_textures"]
	path = mods/connected_textures
	url = https://github.com/HybridDog/connected_textures.git
